:root {
  --width: 640px;
}

* {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "Times New Roman", Times, serif;
}

.wrap {
  max-width: var(--width);
  margin: 16px auto;
  padding: 0 16px;
}

nav .wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 4px;
  align-items: baseline;
}
@media screen and (max-width: 768px) {
  nav .wrap {
    flex-wrap: wrap;
  }
}
nav .logo {
  cursor: pointer;
  text-decoration: none !important;
  color: inherit;
}
nav .logo .logo-text {
  font-weight: bold;
  font-size: 24px;
}
nav .logo .tagline {
  color: gray;
}

footer {
  padding: 16px 0 0;
  color: gray;
}

a {
  text-decoration: none;
  color: hsl(220, 90%, 40%);
}
a:hover {
  text-decoration: underline;
}

dt {
  font-weight: bold;
  margin-bottom: 2px;
}
dd {
  margin-bottom: 8px;
}

p,
dd {
  text-align: justify;
}

ul {
  padding-left: 24px;
}

li {
  margin: 2px 0;
}

h2 {
  border-bottom: 1px solid #bbbbbb;
  padding-bottom: 2px;
}
h3 {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: #bbbbbb;
  text-underline-offset: 4px;
  margin-top: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
dt,
dd {
  word-break: break-word;
}

h1 {
  letter-spacing: 0.005em;
}
h2 {
  letter-spacing: 0.01em;
}
h3,
h4 {
  letter-spacing: 0.015em;
}
h5,
h6 {
  letter-spacing: 0.02em;
}
