/* ----------------------------------------------------------------------------
    Layout
*/

:root {
  --width: 640px;
}

* {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.wrap {
  max-width: var(--width);
  margin: 16px auto;
  padding: 0 16px;
}

/* ----------------------------------------------------------------------------
    Nav
*/

nav .wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 4px;
  align-items: baseline;
}
@media screen and (max-width: 768px) {
  nav .wrap {
    flex-wrap: wrap;
  }
}
nav .logo {
  cursor: pointer;
  text-decoration: none !important;
  color: inherit;
}
nav .logo .logo-text {
  font-weight: bold;
  font-size: 24px;
}
nav .logo .tagline {
  color: gray;
}

/* ----------------------------------------------------------------------------
    Footer
*/

footer {
  padding: 16px 0 0;
  color: gray;
}

/* ----------------------------------------------------------------------------
    Typography
*/

body {
  font-family: "Baskerville", "Times New Roman", Times, serif;
  line-height: 1.15;
}

em {
  letter-spacing: 0.04em;
}

strong {
  font-weight: 600;
}

nav .links {
  font-family: Tahoma, sans-serif;
  font-size: 14.4px;
}

a {
  text-decoration: none;
  color: hsl(220, 90%, 40%);
}
a:hover {
  text-decoration: underline;
}

dt {
  font-weight: 600;
  margin-bottom: 2px;
}
dd {
  margin-bottom: 8px;
}

p,
dd {
  text-align: justify;
}

ul {
  padding-left: 24px;
}

li {
  margin: 2px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Tahoma, sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
  margin-top: 28px;
  padding-bottom: 2px;
  border-bottom: 1px solid #777777;
}
h3 {
  font-size: 16px;
  margin-top: 24px;
  padding-bottom: 2px;
  border-bottom: 1px solid #cccccc;
}
h4 {
  font-size: 14px;
  margin-top: 24px;
  font-style: italic;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: #dddddd;
  text-underline-offset: 4px;
}
h5 {
  font-size: 13px;
  margin-top: 24px;
  font-style: italic;
  color: #444444;
}

h1 {
  letter-spacing: calc(2 * 0.005em);
}
h2 {
  letter-spacing: calc(2 * 0.01em);
}
h3 {
  letter-spacing: calc(2 * 0.015em);
}
h4 {
  letter-spacing: calc(2.5 * 0.015em);
}
h5,
h6 {
  letter-spacing: calc(2.5 * 0.02em);
}

/* ----------------------------------------------------------------------------
    Fixes
*/

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
dt,
dd {
  word-break: break-word;
}

#TableOfContents ul {
  list-style-type: none;
}
#TableOfContents > ul > li:first-child {
  display: none;
}
